<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script>
      function run() {
        console.log("Run method called");
        resource = document.getElementsByName("resource")[0].value;
        context = document.getElementsByName("context")[0].value;
        response_area = document.getElementsByName("response")[0];

        request = {"resource": resource, "context": context};
        fetch("/_repl", {
            method: "POST",
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(request)
        })
        .then(response => response.json())
        .then(data => response_area.value = JSON.stringify(data["output"], null, 2))
      }
    </script>
  </head>
  <body style="font-size: small;">
    <div class="container-fluid">
      <div class="row"><div class="col-sm"></div><button onclick="run()">Run</button></div></div>
      <div class="row">
      <div class="col-sm">
        <textarea name="resource" rows="35" style="min-width: 99%">
{% raw %}
id: questions-by-tag
type: resource
path: /questions-by-tag
queries:
  - isRoot: true
    contextKey: questions
    queryForList: |
        SELECT q.id, q.title, q.tags, q.score, q.tags
        FROM posts q
        WHERE q.posttypeid = 1 
        {% if params.tag %} AND q.tags like {{ '%<' ~ params.tag ~ '>%'}} {% endif %}
        ORDER BY q.creationdate DESC
        LIMIT 10
  - key: comments
    queryForList: |
        SELECT c.id, c.postid, c.text, c.creationdate, c.score
        FROM comments c
        WHERE c.postid in {{ questions.id | inclause }}
        ORDER by c.creationdate ASC
    merge:
        parent: id
        child: postid
{% endraw %}
        </textarea>
        <textarea name="context" rows="12" style="min-width: 99%">
{% raw %}
{
  "params": {
     "tag": "postgresql"
  }
}
{% endraw %}
        </textarea>
      </div>
      <div class="output col-sm">
        <textarea name="response" rows="48" readonly style="min-width: 99%" ></textarea>
      </div>
    </div>
    </div>
  </body>
</html>